body
{
    font-family: 'Times New Roman', Times, serif;
    
}
.container
{
    text-align: center;
}

div.img-card img
{
    position: relative;
    bottom:40px;
}
.img-card img
{
    border-radius:50%;
     width:140px;
    height:140px;
    margin-top: 20px;
    box-shadow: 0px 10px 10px;
  
}
.img-card
{
    background-color:mediumturquoise;
    height: 160px;
    border-radius: 10px;
    
}
.Card
{
width: 320px;
height: 460px;
background-color:antiquewhite;
text-align: center;
border-radius:10px;
margin: 30px 450px;
border: 1px solid black;

}
.Card p{
    font-size: 15px;
    color: rgba(43, 40, 40, 0.801);
}
.Card button
{
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color:mediumturquoise;
    border-radius: 4px;
    color:#000;
    border: none;
}
.social
{
    margin: 30px;
}
.social a{
    margin-inline: 10px;
    
}
a:hover
{
    display:inline-table;
    background-color:lightslategray;
}